<main>
    <h1> O Melhor encurtador de URL </h1>
    <input class="url" type="text" placeholder="URL" [(ngModel)]="url">
    <button (click)="shortenUrl(url, password)">Encurtar</button>

    <div class="checkbox-container">
        <div class="checkbox-div">
            <input type="checkbox" [(ngModel)]="as_password">
            <span>Proteger com senha</span>
        </div>
        
        <div class="checkbox-div">
            <input type="checkbox" [(ngModel)]="as_timer">
            <span>timer</span>
        </div>
    </div>

    <div class="input-container">
        <input class="password" type="text" placeholder="Senha" *ngIf="as_password" [(ngModel)]="password">
        <input type="number" placeholder="Tempo" *ngIf="as_timer" [(ngModel)]="timer">
    </div>
 
    <input class="shortUrl" type="text" [(ngModel)]="shortUrl" readonly>

</main>
<router-outlet></router-outlet>